.header {
    width: 100%;
    max-width: 150rem;
    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1vh;
    display: grid;
    grid-template-columns: 12.8rem 2fr 0.5fr;
    grid-template-areas: "logo nav hbtn";
    align-items: center;
    padding: 1rem 4vw;
    background: var(--light);
    z-index: 2;
   

}

.logo {
    grid-area: logo;
}

.header-ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.header-ul li a{
    display: inline-block;
    padding: 1rem 2.4rem;
    margin:1px;
    color: var(--grey);
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.3s;
    border-radius: var(--border-r);
}


.header-ul li a:is(:hover,:focus) {
    color: var(--primary);
    transform: scale(1.2);
    background-color: var(--tint);
}  

.btn-header {
    justify-self: center;
}

.header-navbar {
    grid-area: nav;
}

.btn-header {
    grid-area: hbtn;
    background: var(--primary);
    color: var(--light);
}


.header-navbar-mob {
    display: none;
}