.slider {
    /* background-color: var(--dark); */
    position: relative;
    /* padding: 0 2rem; */
}

.slider::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0%;
    z-index: -1;
    background-color: var(--dark);
}
.slider .section-heading p {
    /* background-color: var(--grey); */
}

.project-card {
    position: relative;
   width: 100%;
   height: 20rem;
   /* background-color: rgb(140, 240, 210); */
   border-radius: var(--border-r);
   background-color: var(--light);
   box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2),  /* First shadow layer */
   10px 10px 20px rgba(0, 0, 0, 0.15), /* Second shadow layer */
   15px 15px 30px rgba(0, 0, 0, 0.1); /* Third shadow layer */;

}

.project-card img {
   border-radius: var(--border-r);
 
}

.slider .wrapper {

    /* margin: 0 3.2rem; */
    max-width: 110rem;
    padding: 0;
    padding: 0 3rem;
    
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / 3);
    overflow-x: auto;
    position: relative;
    scrollbar-width: none;
}

.slider ul {
    list-style-type: none;
}



/* Launch Button */
.launch-btn .btn {
    background-color: var(--dark);
    color: white;
    position: relative;
}
/* Launch Button */



