
.wc-us {
    padding: 6.4rem 0;

}

.wc-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.wc-us-description {
    padding: 3.2rem 0;
}

.wc-us-description li {
    font-weight: 600;
    opacity: 0.5;
    font-size: var(--fs-450);
    padding: 0.8rem 0 ;
}

.wc-us-cards {
    justify-content: center;
    /* grid-template-areas: "box1 box2"
    "box3 box4"; */
    /* padding: 2rem; */
    gap: 0.8rem;

}
.wc-us-cards .card {
    max-width: 100%;
    color: var(--light);
    background-color: var(--dark);
}