.footer {
    background-color: var(--dark);
    padding: 3.2rem 0 0 0;
}

.footer .wrapper {
    /* gap: 1.2rem; */
    justify-content: center;
}

.footer .wrapper :first-child {
    list-style-type: none;
}

.footer h3 {    
    font-size: var(--fs-600);
    color: var(--light);
}

.contact-numbers {
    display: flex;
    flex-direction: column;
}

.footer a {
    color: var(--light);
    opacity: 0.7;
}



.footer-card {
    /* height: 30rem; */
    font-weight: 600;
    color: var(--light);
    line-height: 1.2;
    padding: 2rem 0;
}

.footer .secondary-heading {
    padding-bottom: 0.8rem;
}


.footer .footer-card i {
    color: var(--primary);
}

.address, .footer li {
    padding: 0.4rem 0;
    list-style-type: none;
}

.copyright {
    padding: 1rem 0;
    margin: 0 auto;
    color: var(--light);
    font-weight: var(--500);
    text-align: center;
}